.modal .content {
  width: 500px;
  height: 280px;
  border-radius: 20px;
}
.modal .content > form {
  width: 350px;
  border-radius: 5px;
}
.modal .content > form legend {
  width: 350px;
  height: 50px;
  font-size: 20px;
}
.modal .content > form label {
  width: 270px;
  height: 60px;
}
.modal .content > form label input {
  width: 256px;
  padding-left: 14px;
  font-size: 16px;
}
.modal .content > form label:nth-child(2):after {
  width: 18px;
  height: 18px;
  top: 22px;
  right: 14px;
}
.modal .content > form label:nth-child(3):after {
  width: 18px;
  height: 18px;
  top: 22px;
  right: 14px;
}
.modal .content > form button {
  width: 270px;
  height: 60px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
.modalImg > .content {
  width: 566px;
  height: 400px;
}
.modalImg > .content > img:last-child {
  top: 10px;
  right: 10px;
}
header {
  height: 810px;
}
header > img {
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}
header > div:nth-child(2) {
  height: 70px;
  margin-top: 20px;
}
header > div:nth-child(2) img {
  width: 130px;
  height: 70px;
  margin-right: 2.60416667%;
  margin-left: 1.04166667%;
}
header > div:nth-child(2) span {
  height: 63px;
  width: 600px;
  margin-top: 3px;
  margin-right: 7.03125%;
  margin-left: 5.20833333%;
  font-size: 30px;
}
header > div:nth-child(2) button {
  width: 270px;
  height: 60px;
  margin-top: 1px;
  margin-right: 1.04166667%;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
header > div:nth-child(3) {
  width: 668px;
  height: 130px;
  margin-top: 34px;
}
header > div:nth-child(3) span:first-child {
  height: 76px;
  font-size: 36px;
  line-height: 45px;
}
header > div:nth-child(3) span:nth-child(2) {
  height: 2px;
  width: 195px;
  top: 40px;
  left: 300px;
}
header > div:nth-child(3) span:last-child {
  height: 23px;
  font-size: 24px;
}
header > div:last-child {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 753px;
  height: 355px;
  margin-top: 31px;
}
header > div:last-child .advantage {
  width: 365px;
  height: 270px;
}
header > div:last-child .advantage > div {
  height: 70px;
  margin-left: 35px;
  border-radius: 5px;
}
header > div:last-child .advantage > div .number {
  width: 60px;
  height: 60px;
  border: 5px solid #ffd21f;
  margin-left: -35px;
}
header > div:last-child .advantage > div .number > span {
  width: 32px;
  height: 24px;
  font-size: 24px;
}
header > div:last-child .advantage > div > span {
  width: 300px;
  height: 16px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 5px;
}
header > div:last-child .advantage > div:nth-child(2) > span {
  height: 36px;
}
header > div:last-child .advantage > div:last-child {
  height: 100px;
}
header > div:last-child .advantage > div:last-child > span {
  height: 72px;
}
header > div:last-child form {
  width: 330px;
  border-radius: 5px;
}
header > div:last-child form legend {
  width: 241px;
  height: 66px;
  font-size: 20px;
}
header > div:last-child form label {
  width: 270px;
  height: 60px;
}
header > div:last-child form label input {
  width: 256px;
  padding-left: 14px;
  font-size: 16px;
}
header > div:last-child form label:nth-child(2):after {
  width: 18px;
  height: 18px;
  top: 22px;
  right: 14px;
}
header > div:last-child form label:nth-child(3):after {
  width: 18px;
  height: 18px;
  top: 22px;
  right: 14px;
}
header > div:last-child form button {
  width: 270px;
  height: 60px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
header:before {
  width: 100%;
  height: 162px;
  bottom: -0.5px;
}
main .infrastructure {
  margin-top: 51px;
  padding-bottom: 53px;
}
main .infrastructure h1 {
  width: 281px;
  height: 36px;
  font-size: 36px;
  line-height: 38px;
}
main .infrastructure .infrastructure-images {
  width: 753px;
  height: 147px;
  margin-top: 53px;
}
main .infrastructure .infrastructure-images > div {
  width: 128px;
}
main .infrastructure .infrastructure-images > div > div {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
main .infrastructure .infrastructure-images > div > div > img {
  width: 70px;
  height: 50px;
}
main .infrastructure .infrastructure-images > div > span {
  width: 100%;
  height: 15px;
  margin-top: 23px;
  font-size: 14px;
  line-height: 15px;
}
main .infrastructure .infrastructure-images > div:first-child {
  width: 136px;
}
main .infrastructure .infrastructure-images > div:first-child > div > img {
  width: 51px;
  height: 60px;
}
main .infrastructure .infrastructure-images > div:first-child > span {
  height: 36px;
}
main .infrastructure .infrastructure-images > div:nth-child(2) > span {
  height: 54px;
}
main .infrastructure .infrastructure-images > div:nth-child(3),
main .infrastructure .infrastructure-images > div:nth-child(4) {
  width: 150px;
}
main .infrastructure .infrastructure-images > div:nth-child(3) > div > img,
main .infrastructure .infrastructure-images > div:nth-child(4) > div > img {
  width: 50px;
  height: 50px;
}
main .infrastructure .infrastructure-images > div:last-child {
  width: 145px;
}
main .infrastructure .infrastructure-images > div:last-child > div > img {
  width: 50px;
  height: 50px;
}
main .infrastructure .infrastructure-description {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 740px;
  height: auto;
  margin-top: 28px;
}
main .infrastructure .infrastructure-description section {
  width: 345px;
  height: 236px;
}
main .infrastructure .infrastructure-description section h2 {
  width: 48px;
  height: 36px;
  font-size: 36px;
  line-height: 39px;
}
main .infrastructure .infrastructure-description section p {
  height: 170px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 18px;
}
main .review {
  padding-top: 53px;
}
main .review h1 {
  width: 406px;
  height: 39px;
  font-size: 36px;
  line-height: 39px;
}
main .review .review-description {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 745px;
  height: 500px;
  margin-top: 55px;
}
main .review .review-description div {
  width: 625px;
  height: 220px;
  margin: 0 auto;
}
main .review .review-description div img {
  width: 170px;
  height: 170px;
}
main .review .review-description div p {
  width: 400px;
  height: 220px;
  font-size: 16px;
  line-height: 19px;
}
main .review .review-specific {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 745px;
  height: 600px;
  margin: 0 auto;
}
main .review .review-specific div {
  width: 625px;
  height: 270px;
  margin: 0 auto;
  background-size: cover;
}
main .review .review-specific div button {
  width: 370px;
  height: 60px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 20px;
}
main .review .review-specific div:last-child {
  background-size: cover;
}
main .review span {
  width: 745px;
  height: 70px;
  font-size: 22px;
  line-height: 35px;
}
main .review button {
  width: 370px;
  height: 60px;
  margin: 41px auto 50px auto;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 20px;
}
main .photoGallery > h1 {
  width: 356px;
  height: 38px;
  margin: 54px auto 53px auto;
  font-size: 36px;
  line-height: 38px;
}
main .photoGallery .photoGallery-photos {
  width: 750px;
  height: 278px;
}
main .photoGallery .photoGallery-photos button {
  width: 70px;
  height: 70px;
  top: 104px;
  left: 100px;
}
main .photoGallery .photoGallery-photos button > img {
  width: 16px;
  height: 26px;
}
main .photoGallery .photoGallery-photos button:last-child {
  left: 575px;
}
main .photoGallery .photoGallery-photos > img {
  width: 440px;
  left: 155px;
}
main .photoGallery .photoGallery-photos > img:nth-child(2) {
  left: -24px;
  -webkit-transform: scale(0.89, 0.89);
          transform: scale(0.89, 0.89);
}
main .photoGallery .photoGallery-photos > img:nth-child(4) {
  left: 333px;
  -webkit-transform: scale(0.89, 0.89);
          transform: scale(0.89, 0.89);
}
main .photoGallery .photoGallery-package {
  width: 750px;
  height: 700px;
  margin: 52px auto 25px auto;
}
main .photoGallery .photoGallery-package h1 {
  width: 665px;
  height: 38px;
  font-size: 36px;
  line-height: 38px;
}
main .photoGallery .photoGallery-package > div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
  margin-top: 52px;
}
main .photoGallery .photoGallery-package > div > div {
  width: 725px;
  height: 250px;
}
main .photoGallery .photoGallery-package > div > div > div {
  width: 170px;
  height: 170px;
  border-radius: 5px;
}
main .photoGallery .photoGallery-package > div > div > div img {
  width: 100px;
  height: 99px;
}
main .photoGallery .photoGallery-package > div > div table {
  width: 525px;
}
main .photoGallery .photoGallery-package > div > div table tr th {
  font-size: 24px;
  line-height: 26px;
  padding-top: 0px;
  padding-bottom: 28px;
}
main .photoGallery .photoGallery-package > div > div table tr td {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 2px;
}
main .photoGallery .photoGallery-package > div > div table tr:nth-child(3) td {
  padding-bottom: 18px;
}
main .photoGallery .photoGallery-package > div > div table tr:nth-child(4) td {
  padding-bottom: 17px;
}
main .photoGallery .photoGallery-package > div > div:last-child {
  width: 509px;
}
main .photoGallery .photoGallery-package > div > div:last-child table {
  width: 313px;
}
main .photoGallery .photoGallery-package button {
  width: 270px;
  height: 60px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 20px;
}
main .documnets {
  height: 285px;
}
main .documnets h1 {
  width: 199px;
  height: 38px;
  margin-bottom: 53px;
  font-size: 36px;
  line-height: 38px;
}
main .documnets .documnets-download {
  width: 750px;
  height: 190px;
}
main .documnets .documnets-download div {
  width: 230px;
  height: 100%;
  border: 2px solid #6a462b;
  border-radius: 5px;
}
main .documnets .documnets-download div > img {
  width: 54px;
  height: 70px;
  margin-top: 30px;
}
main .documnets .documnets-download div > a {
  width: 151px;
  height: 36px;
  margin-top: 124px;
  font-size: 16px;
  line-height: 18px;
}
main .aboutCompany {
  margin-top: 210px;
}
main .aboutCompany h1 {
  width: 447px;
  height: 38px;
  margin: 55px auto 53px auto;
  font-size: 36px;
  line-height: 38px;
}
main .aboutCompany > div:nth-child(2) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 750px;
  height: 800px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers {
  width: 650px;
  height: 410px;
  margin: 0 auto;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div {
  width: 290px;
  height: 170px;
  top: 5px;
  left: 5px;
  border-radius: 5px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div span {
  height: 64px;
  margin-top: 38px;
  font-size: 60px;
  line-height: 64px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div p {
  width: 220px;
  height: 36px;
  margin-top: 18px;
  font-size: 16px;
  line-height: 18px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div .opacity {
  top: -5px;
  border-radius: 5px;
  border: 5px solid #fff;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div:nth-child(2),
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div:last-child {
  left: -5px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div:nth-child(3),
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div:last-child {
  top: 30px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div:nth-child(2) p,
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div:last-child p {
  margin-top: 27px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-numbers > div:after {
  border: 25px solid transparent;
  border-top: 25px solid #ffd21f;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-description {
  width: 650px;
  height: 346px;
  margin: 0 auto;
  margin-top: 45px;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-description p {
  font-size: 16px;
  line-height: 21px;
  text-align: justify;
}
main .aboutCompany > div:nth-child(2) .aboutCompany-description button {
  width: 100%;
  height: 60px;
  margin-top: 25px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
}
main .aboutCompany > div:nth-child(2) .aboutCompany-description button a {
  font-size: 18px;
  line-height: 20px;
}
main .aboutCompany > div:last-child {
  margin-top: 45px;
}
main .aboutCompany > div:last-child > p {
  height: 170px;
  font-size: 30px;
  line-height: 40px;
}
main .aboutCompany:before {
  height: 162px;
  top: -161px;
  background-size: 200% 100%;
}
footer {
  padding-bottom: 25px;
}
footer h1 {
  width: 719px;
  height: 76px;
  margin: 25px auto 25px auto;
  font-size: 36px;
  line-height: 38px;
}
footer address {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 750px;
  height: 660px;
}
footer address .publicTransport {
  width: 630px;
  height: 224px;
  margin: 0 auto;
}
footer address .publicTransport h2 {
  width: 172px;
  height: 31px;
  font-size: 30px;
  line-height: 31px;
  margin: 0 auto;
  margin-bottom: 5px;
}
footer address .publicTransport > div {
  height: 18px;
}
footer address .publicTransport > div > div {
  width: 20px;
  height: 20px;
  border: 5px solid #ffd21f;
}
footer address .publicTransport > div > div:after {
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
}
footer address .publicTransport > div p {
  width: 580px;
  font-size: 16px;
  line-height: 18px;
}
footer address .publicTransport > div:nth-child(2) > div:before,
footer address .publicTransport > div:nth-child(3) > div:before {
  width: 3px;
  height: 43px;
  top: 20px;
  left: 9px;
}
footer address .publicTransport > div:nth-child(3) p br {
  display: none;
}
footer address .autoMap {
  width: 630px;
  height: 345px;
  margin: 0 auto;
  margin-top: 45px;
}
footer address .autoMap h2 {
  width: 216px;
  height: 32px;
  font-size: 30px;
  line-height: 32px;
  margin: 0 auto;
}
footer address .autoMap div {
  height: 395px;
  margin-top: 36px;
}
footer .details {
  width: 430px;
  height: 218px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 18px;
}
footer .details tr {
  height: 18px;
}
