* {
  margin: 0;
  padding: 0;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 795px;
  padding: 0;
  margin: 0;
}
header img {
  display: block;
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
}
header > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 20px;
}
header > div:nth-child(2) img {
  display: block;
  position: relative;
  width: 130px;
  height: 70px;
  padding: 0;
  margin-right: 9.6875%;
  margin-left: 1.04166667%;
}
header > div:nth-child(2) span {
  display: inline-block;
  height: 63px;
  width: 440px;
  margin-top: 3px;
  margin-right: 7.03125%;
  margin-left: 7.86458333%;
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
header > div:nth-child(2) button {
  display: block;
  position: relative;
  width: 270px;
  height: 60px;
  padding: 0;
  margin-top: 1px;
  margin-right: 1.04166667%;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd21f), to(#e4751c));
  background: linear-gradient(to bottom, #ffd21f 0%, #e4751c 100%);
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}
header > div:nth-child(2) button:hover {
  cursor: pointer;
}
header > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 668px;
  height: 130px;
  margin: 0 auto;
  margin-top: 34px;
}
header > div:nth-child(3) span:first-child {
  display: inline-block;
  width: 100%;
  height: 76px;
  color: #ffd21f;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}
header > div:nth-child(3) span:nth-child(2) {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 195px;
  background: #ffd21f;
  top: 40px;
  left: 300px;
}
header > div:nth-child(3) span:last-child {
  display: inline-block;
  width: 100%;
  height: 23px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
header > div:nth-child(3) span:last-child > b:last-child {
  text-decoration: underline;
}
header > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 830px;
  height: 355px;
  margin: 0 auto;
  margin-top: 31px;
}
header > div:last-child .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 365px;
  height: 270px;
}
header > div:last-child .advantage > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: inherit;
  height: 70px;
  margin-left: 35px;
  background: #ffd21f;
  border-radius: 5px;
}
header > div:last-child .advantage > div .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
  border: 5px solid #ffd21f;
  border-radius: 50%;
  z-index: 1;
  background: #fff;
  margin-left: -35px;
}
header > div:last-child .advantage > div .number > span {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 24px;
  margin: 0 auto;
  color: #ffd21f;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
}
header > div:last-child .advantage > div .number:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
header > div:last-child .advantage > div > span {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 16px;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 5px;
  background: #ffd21f;
  vertical-align: center;
}
header > div:last-child .advantage > div:nth-child(2) > span {
  height: 36px;
}
header > div:last-child .advantage > div:last-child {
  height: 100px;
}
header > div:last-child .advantage > div:last-child > span {
  height: 72px;
}
header > div:last-child form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 330px;
  height: 100%;
  border-radius: 5px;
  background: #fff;
}
header > div:last-child form legend {
  display: inline-block;
  width: 241px;
  height: 66px;
  margin: 0 auto;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
header > div:last-child form label {
  display: block;
  position: relative;
  width: 270px;
  height: 60px;
  margin: 0 auto;
}
header > div:last-child form label input {
  display: block;
  position: relative;
  width: 256px;
  height: 100%;
  padding-left: 14px;
  background: #f7f7f7;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d1d1d1;
}
header > div:last-child form label:nth-child(2):after {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 22px;
  right: 14px;
  background: url('../img/user.svg') no-repeat;
}
header > div:last-child form label:nth-child(3):after {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 22px;
  right: 14px;
  background: url('../img/phone.svg') no-repeat;
}
header > div:last-child form button {
  display: block;
  position: relative;
  width: 270px;
  height: 60px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a2d417), to(#4c9918));
  background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}
header > div:last-child form button:hover {
  cursor: pointer;
}
header:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 162px;
  bottom: -0.5px;
  background: url('../img/header-after-img.png') no-repeat;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
}
main .infrastructure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: inherit;
  height: inherit;
  margin-top: 51px;
  padding-bottom: 53px;
}
main .infrastructure h1 {
  display: inline-block;
  width: 281px;
  height: 36px;
  margin: 0 auto;
  color: #6a462b;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
}
main .infrastructure .infrastructure-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 943px;
  height: 147px;
  margin: 0 auto;
  margin-top: 53px;
}
main .infrastructure .infrastructure-images > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 128px;
  height: inherit;
}
main .infrastructure .infrastructure-images > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 5px;
  background: #ffd21f;
}
main .infrastructure .infrastructure-images > div > div > img {
  display: block;
  position: relative;
  width: 70px;
  height: 50px;
  background: #ffd21f;
}
main .infrastructure .infrastructure-images > div > span {
  display: inline-block;
  width: 100%;
  height: 16px;
  margin-top: 23px;
  color: #444444;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
main .infrastructure .infrastructure-images > div:first-child {
  width: 136px;
}
main .infrastructure .infrastructure-images > div:first-child > div > img {
  width: 51px;
  height: 60px;
}
main .infrastructure .infrastructure-images > div:first-child > span {
  height: 36px;
}
main .infrastructure .infrastructure-images > div:nth-child(2) > span {
  height: 54px;
}
main .infrastructure .infrastructure-images > div:nth-child(3),
main .infrastructure .infrastructure-images > div:nth-child(4) {
  width: 150px;
}
main .infrastructure .infrastructure-images > div:nth-child(3) > div > img,
main .infrastructure .infrastructure-images > div:nth-child(4) > div > img {
  width: 50px;
  height: 50px;
}
main .infrastructure .infrastructure-images > div:nth-child(3) > div > img {
  width: 50px;
  height: 47px;
}
main .infrastructure .infrastructure-images > div:nth-child(3) > span {
  height: 36px;
}
main .infrastructure .infrastructure-images > div:last-child {
  width: 145px;
}
main .infrastructure .infrastructure-images > div:last-child > div > img {
  width: 50px;
  height: 50px;
}
main .infrastructure .infrastructure-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1163px;
  height: 304px;
  margin: 0 auto;
  margin-top: 28px;
}
main .infrastructure .infrastructure-description section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 266px;
  height: 280px;
}
main .infrastructure .infrastructure-description section h2 {
  display: inline-block;
  width: 48px;
  height: 36px;
  color: #ffd21f;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 39px;
}
main .infrastructure .infrastructure-description section p {
  display: inline-block;
  width: 100%;
  height: 247px;
  margin-top: 30px;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
main .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 53px;
  background: #faeed2;
}
main .review h1 {
  display: inline-block;
  width: 406px;
  height: 39px;
  margin: 0 auto;
  color: #6a462b;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 39px;
}
main .review .review-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1161px;
  height: 245px;
  margin: 0 auto;
  margin-top: 55px;
}
main .review .review-description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 561px;
  height: inherit;
}
main .review .review-description div img {
  display: block;
  position: relative;
  width: 170px;
  height: 170px;
}
main .review .review-description div p {
  display: inline-block;
  width: 363px;
  height: 248px;
  color: #444444;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
main .review .review-specific {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1171px;
  height: 270px;
  margin: 53px auto;
}
main .review .review-specific div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 570px;
  height: 100%;
  background: url('../img/plan-img.jpg') no-repeat;
}
main .review .review-specific div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 370px;
  height: 60px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd21f), to(#e4751c));
  background: linear-gradient(to bottom, #ffd21f 0%, #e4751c 100%);
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  outline: none;
}
main .review .review-specific div button:hover {
  cursor: pointer;
}
main .review .review-specific div:last-child {
  background: url('../img/price-img.jpg') no-repeat;
}
main .review span {
  display: inline-block;
  width: 809px;
  height: 70px;
  margin: 0 auto;
  color: #6a462b;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
}
main .review button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 370px;
  height: 60px;
  margin: 41px auto 50px auto;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#a2d417), to(#4c9918));
  background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
main .photoGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
}
main .photoGallery > h1 {
  display: inline-block;
  width: 356px;
  height: 38px;
  margin: 54px auto 53px auto;
  color: #6a462b;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
}
main .photoGallery .photoGallery-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 970px;
  height: 360px;
  margin: 0 auto;
}
main .photoGallery .photoGallery-photos button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 145px;
  left: 165px;
  border: none;
  border-radius: 50%;
  background: #ffd21f;
  z-index: 100;
  outline: none;
}
main .photoGallery .photoGallery-photos button > img {
  display: block;
  position: relative;
  width: 16px;
  height: 26px;
}
main .photoGallery .photoGallery-photos button:last-child {
  left: 735px;
}
main .photoGallery .photoGallery-photos button:hover {
  cursor: pointer;
}
main .photoGallery .photoGallery-photos > img {
  display: block;
  position: absolute;
  width: 570px;
  height: 100%;
  left: 200px;
  z-index: 1;
}
main .photoGallery .photoGallery-photos > img:nth-child(2) {
  left: -31px;
  z-index: 0;
  -webkit-transform: scale(0.89, 0.89);
          transform: scale(0.89, 0.89);
}
main .photoGallery .photoGallery-photos > img:nth-child(4) {
  left: 431.5px;
  z-index: 0;
  -webkit-transform: scale(0.89, 0.89);
          transform: scale(0.89, 0.89);
}
main .photoGallery .photoGallery-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 1110px;
  height: 429px;
  margin: 104px auto;
}
main .photoGallery .photoGallery-package h1 {
  display: inline-block;
  width: 665px;
  height: 38px;
  margin: 0 auto;
  color: #6a462b;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
}
main .photoGallery .photoGallery-package > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  height: 230px;
  margin-top: 52px;
}
main .photoGallery .photoGallery-package > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 545px;
  height: 230px;
}
main .photoGallery .photoGallery-package > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 5px;
  background: #d7e9ff;
}
main .photoGallery .photoGallery-package > div > div > div img {
  display: block;
  position: relative;
  width: 100px;
  height: 99px;
}
main .photoGallery .photoGallery-package > div > div table {
  display: block;
  position: relative;
  width: 346px;
  height: 100%;
  border-collapse: collapse;
}
main .photoGallery .photoGallery-package > div > div table tr th {
  text-align: left;
  color: #116fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 28px;
}
main .photoGallery .photoGallery-package > div > div table tr td {
  color: #444444;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}
main .photoGallery .photoGallery-package > div > div table tr:nth-child(3) td {
  padding-bottom: 18px;
}
main .photoGallery .photoGallery-package > div > div table tr:nth-child(4) td {
  padding-bottom: 17px;
}
main .photoGallery .photoGallery-package > div > div:last-child {
  width: 509px;
}
main .photoGallery .photoGallery-package > div > div:last-child table {
  width: 313px;
}
main .photoGallery .photoGallery-package button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 270px;
  height: 60px;
  margin: 49px auto 0 auto;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#a2d417), to(#4c9918));
  background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  outline: none;
}
main .photoGallery .photoGallery-package button:hover {
  cursor: pointer;
}
main .documnets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 285px;
}
main .documnets h1 {
  display: inline-block;
  width: 199px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 53px;
  color: #6a462b;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
}
main .documnets .documnets-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 830px;
  height: 190px;
  margin: 0 auto;
}
main .documnets .documnets-download div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 230px;
  height: 100%;
  border: 2px solid #6a462b;
  border-radius: 5px;
}
main .documnets .documnets-download div > img {
  display: block;
  position: relative;
  width: 54px;
  height: 70px;
  margin-top: 30px;
}
main .documnets .documnets-download div > p {
  display: inline-block;
  width: 151px;
  height: 36px;
  margin-top: 23px;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
main .documnets .documnets-download div:hover {
  cursor: pointer;
}
main .aboutCompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 210px;
  background-color: #6a462b;
}
main .aboutCompany h1 {
  display: inline-block;
  width: 447px;
  height: 38px;
  margin: 55px auto 53px auto;
  color: #ffd21f;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
}
main .aboutCompany > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1166px;
  height: 380px;
  margin: 0 auto;
}
main .aboutCompany > div .aboutCompany-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  position: relative;
  width: 570px;
  height: 100%;
}
main .aboutCompany > div .aboutCompany-numbers > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 260px;
  height: 165px;
  top: 5px;
  left: 5px;
  border-radius: 5px;
}
main .aboutCompany > div .aboutCompany-numbers > div span {
  display: inline-block;
  width: auto;
  height: 64px;
  margin-top: 38px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}
main .aboutCompany > div .aboutCompany-numbers > div p {
  display: inline-block;
  width: 220px;
  height: 36px;
  margin-top: 13px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
main .aboutCompany > div .aboutCompany-numbers > div .opacity {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  border-radius: 5px;
  border: 5px solid #fff;
  opacity: 0.3;
}
main .aboutCompany > div .aboutCompany-numbers > div:nth-child(2),
main .aboutCompany > div .aboutCompany-numbers > div:last-child {
  left: -5px;
}
main .aboutCompany > div .aboutCompany-numbers > div:nth-child(3),
main .aboutCompany > div .aboutCompany-numbers > div:last-child {
  top: 20px;
}
main .aboutCompany > div .aboutCompany-numbers > div:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top: 25px solid #ffd21f;
}
main .aboutCompany > div .aboutCompany-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 566px;
  height: 100%;
}
main .aboutCompany > div .aboutCompany-description p {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
main .aboutCompany > div .aboutCompany-description button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 500px;
  height: 60px;
  margin: 0 auto;
  margin-top: 53px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#a2d417), to(#4c9918));
  background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
main .aboutCompany > div .aboutCompany-description button:hover {
  cursor: pointer;
}
main .aboutCompany > p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  margin-top: 51px;
  color: #6a462b;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  background-color: #ffd21f;
  text-align: center;
}
main .aboutCompany:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 162px;
  top: -161px;
  background: url('../img/footer_decor_2.png') no-repeat;
}
