.modal{
	.content{
		width: 310px;
		height: 400px;
		border-radius: 10px;
		&>form{
			width: 300px;
			height: 350px;
			border-radius: 5px;
			&>h2{
				width: 300px;
				height: 50px;
				font-size: 20px;
			}
			label{
				width: 270px;
				height: 60px;
				input{
					width: 256px;
					padding-left: 14px;
					font-size: 16px;
				}
			}
			label:nth-child(2):after{
				width: 18px;
				height: 18px;
				top: 22px;
				right: 14px;
			}
			label:nth-child(3):after{
				width: 18px;
				height: 18px;
				top: 22px;
				right: 14px;
			}
			button{
				width: 270px;
				height: 60px;
				border-radius: 5px;
				box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
				font-size: 18px;
			}
		}
	}
}
.modalImg{
	&>.content{
		width: 320px;
		height: 226px;
		&>img:last-child{
			top: 10px;
			right: 10px;
		}
	}
}
header{
	height: 1210px;
	&>img{
		transform: scale(4.5, 1);
	}
	&>div:nth-child(2){
		flex-direction: column;
		justify-content: unset;
		height: 510px;
		img{
			width: 85px;
			height: 45px;
			margin: 0 auto;
			margin-top: 10px;
		}
		span{
			height: 51px;
			width: 282px;
			margin: 0 auto;
			margin-top: 27px;
			font-size: 24px;
		}
		button{
			width: 270px;
			height: 60px;
			margin: 0 auto;
			margin-top: 315px;
			border-radius: 5px;
			box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
			background-image: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
			font-size: 18px;
		}
	}
	&>div:nth-child(3){
		justify-content: unset;
		width: 300px;
		height: 236px;
		margin-top: -320px;
		span:first-child{
			height: 172px;
			font-size: 30px;
			line-height: 32px;
		}
		span:nth-child(2){
			height: 2px;
			width: 165px;
			top: 63px;
			left: 47px;
		}
		span:last-child{
			height: 38px;
			font-size: 20px;
			margin-top: 15px;
		}
	}
	&>div:last-child{
		flex-wrap: wrap;
		justify-content: unset;
		width: 300px;
		height: 670px;
		margin-top: 103px;
		.advantage{
			width: 300px;
			height: 295px;
			margin: 0 auto;
			&>div{
				width: 265px;
				height: 70px;
				margin-left: 35px;
				border-radius: 5px;
				.number{
					width: 60px;
					height: 60px;
					border: 5px solid #ffd21f;
					margin-left: -35px;
					&>span{
						width: 32px;
						height: 24px;
						font-size: 24px;
					}
				}
				&>span{
					width: 220px;
					height: 16px;
					font-size: 16px;
					line-height: 18px;
					border-radius: 5px;
				}
			}
			&>div:nth-child(2){
				&>span{
					height: 36px;
				}
			}
			&>div:last-child{
				height: 125px;
				&>span{
					width: 200px;
					height: 72px;
					left: -20px; 
				}
			}
		}
		form{
			width: 300px;
			height: 355px;
			border-radius: 5px;
			margin-top: 20px;
			&>h2{
				width: 248px;
				height: 66px;
				font-size: 20px;
			}
			label{
				width: 270px;
				height: 60px;
				input{
					width: 256px;
					padding-left: 14px;
					font-size: 16px;
				}
			}
			label:nth-child(2):after{
				width: 18px;
				height: 18px;
				top: 22px;
				right: 14px;
			}
			label:nth-child(3):after{
				width: 18px;
				height: 18px;
				top: 22px;
				right: 14px;
			}
			button{
				width: 270px;
				height: 60px;
				border-radius: 5px;
				box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
				font-size: 18px;
			}
		}
	}
}
header:before{
	display: none;
}
main{
	.infrastructure{
		margin-top: 33px;
		padding-bottom: 0;
		h2{
			width: 244px;
			height: 31px;
			font-size: 30px;
			line-height: 31px;
		}
		.infrastructure-images{
			flex-wrap: wrap;
			width: 256px;
			height: 660px;
			margin-top: 53px;
			&>div{
				width: 100%;
				height: 108px;
				&>div{
					width: 70px;
					height: 70px;
					border-radius: 5px;
					&>img{
						width: 70px;
						height: 50px;
						border-radius: 5px;
					}
				}
				&>span{
					width: 100%;
					height: 15px;
					margin-top: 23px;
					font-size: 14px;
					line-height: 15px;
				}
			}
			&>div:first-child{
				&>div{
					&>img{
						width: 51px;
						height: 60px;
					}
				}
				&>span{
					height: 36px;
				}
			}
			&>div:nth-child(2),
			&>div:nth-child(3){
				height: 124px;
				&>span{
					width: 230px;
					height: 54px;
					margin: 0 auto;
					margin-top: 23px;
				}
			}
			&>div:nth-child(3),
			&>div:nth-child(4){
				&>div{
					&>img{
						width: 50px;
						height: 50px;
					}
				}
			}
			&>div:last-child{
				&>div{
					&>img{
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.infrastructure-description{
			flex-wrap: wrap;
			justify-content: unset;
			width: 266px;
			height: auto;
			margin-top: 5px;
			section{
				width: 345px;
				height: auto;
				margin-top: 38px;
				h2{
					width: 48px;
					height: 36px;
					font-size: 36px;
					line-height: 39px;
				}
				p{
					height: auto;
					margin-top: 30px;
					font-size: 16px;
					line-height: 18px;
				}
			}
			section:first-child{
				margin-top: 0;
			}
			button{
				display: flex;
				width: 300px;
				height: 70px;
				margin: 61px auto 30px auto;
				border-radius: 5px;
				box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
				background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
	.review{
		padding-top: 32px;
		padding-bottom: 30px;
		height: auto;
		h2{
			width: 252px;
			height: 65px;
			font-size: 30px;
			line-height: 31px;
			text-align: center;
			br{
				display: block;
			}
		}
		.review-description{
			flex-wrap: wrap;
			align-items: space-around;
			width: 302px;
			height: auto;
			margin-top: 35px;
			div{
				width: 100%;
				height: auto;
				margin: 0 auto;
				img{
					width: 80px;
					height: 80px;
				}
				p{
					width: 207px;
					height: auto;
					font-size: 16px;
					line-height: 17px;
				}
			}
			div:last-child{
				margin-top: 33px;
			}
		}
		.review-specific{
			flex-wrap: wrap;
			width: 300px;
			height: auto;
			margin: 0px auto;
			margin-top: 31px;
			div{
				width: 100%;
				height: 141px;
				margin: 0 auto;
				background-size: contain;
				button{
					width: 270px;
					height: 70px;
					border-radius: 5px;
					box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
					font-size: 18px;
					line-height: 20px;
					br{
						display: block;
					}
				}
			}
			div:last-child{
				background-size: contain;
				margin-top: 30px;
				a{
					width: 270px;
					height: 55px;
					padding-top: 15px;
					box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
					font-size: 18px;
					line-height: 20px;
					br{
						display: block;
					}
				}
			}
		}
		span{
			width: 301px;
			height: 113px;
			font-size: 20px;
			line-height: 23px;
			margin: 33px auto;
			br{
				display: none;
			}
		}
		button{
			width: 300px;
			height: 70px;
			margin: 0 auto;
			border-radius: 5px;
			box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
			font-size: 18px;
			line-height: 20px;
			br{
				display: block;
			}
		}
	}
	.photoGallery{
		&>h2{
			width: 307*100/320%;
			height: 29px;
			margin: 32px auto;
			font-size: 30px;
			line-height: 32px;
			text-align: center;
		}
		.photoGallery-photos{
			width: 300px;
			height: 158px;
			button{
				width: 70px;
				height: 70px;
				top: 188px;
				left: 15*100/300%;
				&>img{
					width: 16px;
					height: 26px;
				}
			}
			button:last-child{
				left: 215*100/300%;
			}
			&>img{
				width: 250px;
				left: 25*100/300%;
			}
			&>img:nth-child(2){
				left: -4.5%;
				transform: scale(0.89, 0.89);
			}
			&>img:nth-child(4){
				left: 21%;
				transform: scale(0.89, 0.89);
			}
		}
		.photoGallery-package{
			width: 295*100/320%;
			height: auto;
			margin: 163px auto 25px auto;
			h2{
				width: 255px;
				height: 100px;
				font-size: 30px;
				line-height: 32px;
				text-align: center;
			}
			&>div{
				flex-wrap: wrap;
				height: 100%;
				margin-top: 32px;
				&>div{
					width: 295px;
					height: 253px;
					margin: 0 auto;
					&>div{
						width: 80px;
						height: 80px;
						border-radius: 5px;
						img{
							width: 47px;
							height: 46px;
						}
					}
					table{
						width: 203*100/295%;
						tr{
							th{
								font-size: 24px;
								line-height: 26px;
								padding-top: 0px;
								padding-bottom: 28px;
							}
							td{
								font-size: 16px;
								line-height: 18px;
								padding-bottom: 2px;
							}
						}
						tr:nth-child(3){
							td{
								padding-bottom: 18px;
							}
						}
						tr:nth-child(4){
							td{
								padding-bottom: 17px;
							}
						}
					}
				}
				&>div:last-child{
					margin-top: 33px;
				}
			}
			button{
				width: 270px;
				height: 60px;
				margin: 0 auto;
				border-radius: 5px;
				box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
	.documnets{
		margin-top: 40px;
		height: auto;
		h2{
			width: 166*100/320%;
			height: 32px;
			margin-bottom: 33px;
			font-size: 30px;
			line-height: 32px;
			text-align: center;
		}
		.documnets-download{
			flex-wrap: wrap;
			width: 300px;
			height: 340px;
			div{
				flex-direction: row;
				align-items: center;
				width: 100%;
				height: 100px;
				border: 2px solid #6a462b;
				border-radius: 5px;
				&>img{
					width: 54px;
					height: 70px;
					margin-left: 15px;
				}
				&>a{
					width: 212px;
					height: 100%;
					top: 0;
					padding-left: 84px;
					font-size: 16px;
					line-height: 100px;
					text-align: left;
				}
			}
			div:nth-child(2){
				&>a{
					height: 65px;
					line-height: 18px;
					padding-top: 35px;
				}
			}
			div:last-child{
				&>a{
					height: 65px;
					line-height: 18px;
					padding-top: 35px;
					br{
						display: block;
					}
				}
			}
		}
	}
	.aboutCompany{
		margin-top: 60px;
		h2{
			width: 208px;
			height: 64px;
			margin: 33.5px auto;
			font-size: 30px;
			line-height: 32px;
			text-align: center;
		}
		&>div:nth-child(2){
			flex-wrap: wrap;
			width: 299px;
			height: auto;
			.aboutCompany-numbers{
				flex-direction: column;
				width: 270px;
				height: 795px;
				margin: 0 auto;
				&>div{
					width: 260px;
					height: 165px;
					margin: 0 auto;
					border-radius: 5px;
					span{
						height: 64px;
						margin-top: 38px;
						font-size: 60px;
						line-height: 64px;
					}
					p{
						width: 220px;
						height: 36px;
						margin-top: 18px;
						font-size: 16px;
						line-height: 18px;
					}
					.opacity{
						top: -5px;
						border-radius: 5px;
						border: 5px solid #fff;
					}
				}
				&>div:first-child{
					top: 5px;
				}
				&>div:last-child{
					bottom: 5px;
				}
				&>div:nth-child(2),
				&>div:last-child{
					span{
						margin-top: 45px
					}
					p{
						margin-top: 20px;
					}
				}
				&>div:after{
					top: 0;
					left: 105px;
					border: 25px solid transparent;
					border-top: 25px solid #ffd21f;
				}
			}
			.aboutCompany-description{
				justify-content: space-between;
				width: 100%;
				height: 550px;
				margin: 0 auto;
				margin-top: 32px;
				padding-bottom: 30px;
				p{
					font-size: 16px;
					line-height: 21px;
				}
				&>a{
					width: 100%;
					height: 50px;
					padding-top: 10px;
					margin-top: 25px;
					border-radius: 5px;
					font-size: 18px;
					line-height: 20px;
					border-radius: 5px;
					box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
					br{
						display: block;
					}
				}
			}
		}
		&>div:last-child{
			height: 170px;
			&>p{
				display: inline-block;
				width: 320px;
				height: auto;
				font-size: 24px;
				line-height: 26px;
				text-align: center;
				br:first-child{
					display: block;
				}
				br:last-child{
					display: none;
				}
			}
		}
	}
	.aboutCompany:before{
		display: none;
	}
}
footer{
	padding-bottom: 32px;
	h1{
		width: 266px;
		height: 160px;
		margin: 34px auto 41px auto;
		font-size: 30px;
		line-height: 32px;
	}
	address{
		flex-wrap: wrap;
		width: 320px;
		height: 600px;
		.publicTransport{
			width: 290px;
			height: 36*3+116px;
			margin: 0 auto;
			&>p{
				width: 150px;
				height: 26px;
				font-size: 24px;
				line-height: 26px;
				margin: 0 auto;
				margin-bottom: 5px;
			}
			&>div{
				height: 18px;
				&>div{
					width: 20px;
					height: 20px;
					border: 5px solid #ffd21f;
				}
				&>div:after{
					width: 10px;
					height: 10px;
					top: 5px;
					left: 5px;
				}
				p{
					width: 240px;
					font-size: 16px;
					line-height: 18px;
				}
			}
			&>div:nth-child(2){
				height: 54px;
			}
			&>div:nth-child(3){
				height: 36px;
			}
			&>div:nth-child(2),
			&>div:nth-child(3){
				&>div:before{
					width: 3px;
					height: 50px;
					top: 20px;
					left: 9px;
				}
			}
			&>div:nth-child(3){
				p{
					br{
						display: none;
					}
				}
			}
		}
		.autoMap{
			width: 320px;
			height: 294px;
			margin: 0 auto;
			&>p{
				width: 185px;
				height: 26px;
				font-size: 24px;
				line-height: 26px;
				margin: 0 auto;
			}
			#map{
				height: 250px;
				margin-top: 26px;
			}
		}
	}
	.details{
		width: 276px;
		height: 253px;
		margin-top: 0px;
		font-size: 14px;
		line-height: 18px;
		tr{
			height: 18px;
		}
	}
}