*{
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 795px;
	padding: 0;
	margin: 0;
	img{
		display: block;
		position: absolute;
		z-index: -100;
		width: 100%;
		height: 100%;
	}
	&>div:nth-child(2){
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 70px;
		margin-top: 20px;
		img{
			display: block;
			position: relative;
			width: 130px;
			height: 70px;
			padding: 0;
			margin-right: 186*100/1920%;
			margin-left: 20*100/1920%;
		}
		span{
			display: inline-block;
			height: 63px;
			width: 440px;
			margin-top: 3px;
			margin-right: 135*100/1920%;
			margin-left: 151*100/1920%;
			color: #fefefe;
			font-family: 'Roboto', sans-serif;
			font-size: 30px;
			font-weight: 700;
			text-align: center;
		}
		button{
			display: block;
			position: relative;
			width: 270px;
			height: 60px;
			padding: 0;
			margin-top: 1px;
			margin-right: 20*100/1920%;
			border: none;
			border-radius: 5px;
			box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
			background: linear-gradient(to bottom, #ffd21f 0%, #e4751c 100%);
			color: #fefefe;
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
			font-weight: 700;
			outline: none;
		}
		button:hover{
			cursor: pointer;
		}
	}
	&>div:nth-child(3){
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		width: 668px;
		height: 76+23+31px;
		margin: 0 auto;
		margin-top: 34px;
		span:first-child{
			display: inline-block;
			width: 100%;
			height: 76px;
			color: #ffd21f;
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 45px;
			text-align: center;
		}
		span:nth-child(2){
			display: inline-block;
			position: absolute;
			height: 2px;
			width: 195px;
			background: #ffd21f;
			top: 40px;
			left: 300px;
		}
		span:last-child{
			display: inline-block;
			width: 100%;
			height: 23px;
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-size: 24px;
			font-weight: 400;
			text-align: center;
			&>b:last-child{
				text-decoration: underline;
			}
		}
	}
	&>div:last-child{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		width: 830px;
		height: 355px;
		margin: 0 auto;
		margin-top: 31px;
		.advantage{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			width: 365px;
			height: 270px;
			&>div{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				position: relative;
				width: inherit;
				height: 70px;
				margin-left: 35px;
				background: #ffd21f;
				border-radius: 5px;
				.number{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 60px;
					height: 60px;
					border: 5px solid #ffd21f;
					border-radius: 50%;
					z-index: 1;
					background: #fff;
					margin-left: -35px;
					&>span{
						display: inline-block;
						position: relative;
						width: 32px;
						height: 24px;
						margin: 0 auto;
						color: #ffd21f;
						font-family: 'Roboto', sans-serif;
						font-size: 24px;
						font-weight: 700;
					}
				}
				.number:first-child{
					align-self: flex-start;
				}
				&>span{
					display: inline-block;
					position: relative;
					width: 300px;
					height: 16px;
					color: #222222;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 18px;
					border-radius: 5px;
					background: #ffd21f;
					vertical-align: center;
				}
			}
			&>div:nth-child(2){
				&>span{
					height: 36px;
				}
			}
			&>div:last-child{
				height: 100px;
				&>span{
					height: 72px;
				}
			}
		}
		form{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			position: relative;
			width: 330px;
			height: 100%;
			border-radius: 5px;
			background: #fff;
			legend{
				display: inline-block;
				width: 241px;
				height: 66px;
				margin: 0 auto;
				color: #222222;
				font-family: 'Roboto', sans-serif;
				font-size: 20px;
				font-weight: 400;
			}
			label{
				display: block;
				position: relative;
				width: 270px;
				height: 60px;
				margin: 0 auto;
				input{
					display: block;
					position: relative;
					width: 256px;
					height: 100%;
					padding-left: 14px;
					background: #f7f7f7;
					color: #999999;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 400;
					border: 1px solid #d1d1d1;
				}
			}
			label:nth-child(2):after{
				content:'';
				display: block;
				position: absolute;
				width: 18px;
				height: 18px;
				top: 22px;
				right: 14px;
				background: url('../img/user.svg') no-repeat;
			}
			label:nth-child(3):after{
				content:'';
				display: block;
				position: absolute;
				width: 18px;
				height: 18px;
				top: 22px;
				right: 14px;
				background: url('../img/phone.svg') no-repeat;
			}
			button{
				display: block;
				position: relative;
				width: 270px;
				height: 60px;
				margin: 0 auto;
				border: none;
				border-radius: 5px;
				background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
				box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
				color: #fefefe;
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				font-weight: 700;
				outline: none;
			}
			button:hover{
				cursor: pointer;
			}
		}
	}
}
header:before{
	content:'';
	display: block;
	position: absolute;
	width: 100%;
	height: 162px;
	bottom: -0.5px;
	background: url('../img/header-after-img.png') no-repeat;
}
main{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	.infrastructure{
		display: flex;
		flex-direction: column;
		position: relative;
		width: inherit;
		height: inherit;
		margin-top: 51px;
		padding-bottom: 53px;
		h1{
			display: inline-block;
			width: 281px;
			height: 36px;
			margin: 0 auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 38px;
		}
		.infrastructure-images{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;
			width: 943px;
			height: 54+23+70px;
			margin: 0 auto;
			margin-top: 53px;
			&>div{
				display: flex;
				flex-direction: column;
				position: relative;
				width: 128px;
				height: inherit;
				&>div{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 70px;
					height: 70px;
					margin: 0 auto;
					border-radius: 5px;
					background: #ffd21f;
					&>img{
						display: block;
						position: relative;
						width: 70px;
						height: 50px;
						background: #ffd21f;
					}
				}
				&>span{
					display: inline-block;
					width: 100%;
					height: 16px;
					margin-top: 23px;
					color: #444444;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 700;
					line-height: 18px;
					text-align: center;
				}
			}
			&>div:first-child{
				width: 136px;
				&>div{
					&>img{
						width: 51px;
						height: 60px;
					}
				}
				&>span{
					height: 36px;
				}
			}
			&>div:nth-child(2){
				&>span{
					height: 54px;
				}
			}
			&>div:nth-child(3),
			&>div:nth-child(4){
				width: 150px;
				&>div{
					&>img{
						width: 50px;
						height: 50px;
					}
				}
			}
			&>div:nth-child(3){
				&>div{
					&>img{
						width: 50px;
						height: 47px;
					}
				}
				&>span{
					height: 36px;
				}
			}
			&>div:last-child{
				width: 145px;
				&>div{
					&>img{
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.infrastructure-description{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			width: 1163px;
			height: 304px;
			margin: 0 auto;
			margin-top: 28px;
			section{
				display: flex;
				flex-direction: column;
				position: relative;
				width: 266px;
				height: 280px;
				h2{
					display: inline-block;
					width: 48px;
					height: 36px;
					color: #ffd21f;
					font-family: 'Roboto', sans-serif;
					font-size: 36px;
					font-weight: 700;
					line-height: 39px;
				}
				p{
					display: inline-block;
					width: 100%;
					height: 247px;
					margin-top: 30px;
					color: #444;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 18px;
				}
			}
		}
	}
	.review{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: auto;
		padding-top: 53px;
		background: #faeed2;
		h1{
			display: inline-block;
			width: 406px;
			height: 39px;
			margin: 0 auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 39px;
		}
		.review-description{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			width: 1161px;
			height: 245px;
			margin: 0 auto;
			margin-top: 55px;
			div{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				position: relative;
				width: 561px;
				height: inherit;
				img{
					display: block;
					position: relative;
					width: 170px;
					height: 170px;
				}
				p{
					display: inline-block;
					width: 363px;
					height: 248px;
					color: #444444;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
				}
			}
		}
		.review-specific{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			width: 1171px;
			height: 270px;
			margin: 53px auto;
			div{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 570px;
				height: 100%;
				background: url('../img/plan-img.jpg') no-repeat;
				button{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 370px;
					height: 60px;
					border: none;
					border-radius: 5px;
					box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
					background: linear-gradient(to bottom, #ffd21f 0%, #e4751c 100%);
					color: #fefefe;
					font-family: 'Roboto', sans-serif;
					font-size: 18px;
					line-height: 20px;
					font-weight: 700;
					outline: none;
				}
				button:hover{
					cursor: pointer;
				}
			}
			div:last-child{
				background: url('../img/price-img.jpg') no-repeat;
			}
		}
		span{
			display: inline-block;
			width: 809px;
			height: 70px;
			margin: 0 auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-size: 24px;
			font-weight: 700;
			line-height: 35px;
			text-align: center;
		}
		button{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 370px;
			height: 60px;
			margin: 41px auto 50px auto;
			border: none;
			border-radius: 5px;
			box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
			background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
			color: #fefefe;
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
			line-height: 20px;
			font-weight: 700;
		}
	}
	.photoGallery{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: auto;
		&>h1{
			display: inline-block;
			width: 356px;
			height: 38px;
			margin: 54px auto 53px auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 38px;
		}
		.photoGallery-photos{
			display: flex;
			flex-direction: row;
			position: relative;
			width: 970px;
			height: 360px;
			margin: 0 auto;
			button{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				width: 70px;
				height: 70px;
				top: 145px;
				left: 165px;
				border: none;
				border-radius: 50%;
				background: #ffd21f;
				z-index: 100;
				outline: none;
				&>img{
					display: block;
					position: relative;
					width: 16px;
					height: 26px;
				}
			}
			button:last-child{
				left: 570+165px;
			}
			button:hover{
				cursor: pointer;
			}
			&>img{
				display: block;
				position: absolute;
				width: 570px;
				height: 100%;
				left: 200px;
				z-index: 1;
			}
			&>img:nth-child(2){
				left: -31px;
				z-index: 0;
				transform: scale(0.89, 0.89);
			}
			&>img:nth-child(4){
				left: 431.5px;
				z-index: 0;
				transform: scale(0.89, 0.89);
			}
		}
		.photoGallery-package{
			display: flex;
			flex-direction: column;
			position: relative;
			width: 1110px;
			height: 429px;
			margin: 104px auto;
			h1{
				display: inline-block;
				width: 665px;
				height: 38px;
				margin: 0 auto;
				color: #6a462b;
				font-family: 'Roboto', sans-serif;
				font-size: 36px;
				font-weight: 700;
				line-height: 38px;
			}
			&>div{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				position: relative;
				width: 100%;
				height: 230px;
				margin-top: 52px;
				&>div{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					position: relative;
					width: 545px;
					height: 230px;
					&>div{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						position: relative;
						width: 170px;
						height: 170px;
						border-radius: 5px;
						background: #d7e9ff;
						img{
							display: block;
							position: relative;
							width: 100px;
							height: 99px;
						}
					}
					table{
						display: block;
						position: relative;
						width: 346px;
						height: 100%;
						border-collapse: collapse;
						tr{
							th{
								text-align: left;
								color: #116fff;
								font-family: 'Roboto', sans-serif;
								font-size: 24px;
								line-height: 26px;
								font-weight: 700;
								padding-top: 5px;
								padding-bottom: 28px;
							}
							td{
								color: #444444;
								font-family: 'Roboto', sans-serif;
								font-size: 16px;
								line-height: 18px;
								font-weight: 400;
								padding-bottom: 2px;
							}
						}
						tr:nth-child(3){
							td{
								padding-bottom: 18px;
							}
						}
						tr:nth-child(4){
							td{
								padding-bottom: 17px;
							}
						}
					}
				}
				&>div:last-child{
					width: 509px;
					table{
						width: 313px;
					}
				}
			}
			button{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 270px;
				height: 60px;
				margin: 49px auto 0 auto;
				border: none;
				border-radius: 5px;
				box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
				background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
				color: #fefefe;
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				outline: none;
			}
			button:hover{
				cursor: pointer;
			}
		}
	}
	.documnets{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 285px;
		h1{
			display: inline-block;
			width: 199px;
			height: 38px;
			margin: 0 auto;
			margin-bottom: 53px;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 38px;
		}
		.documnets-download{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;
			width: 830px;
			height: 190px;
			margin: 0 auto;
			div{
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				width: 230px;
				height: 100%;
				border: 2px solid #6a462b;
				border-radius: 5px;
				&>img{
					display: block;
					position: relative;
					width: 54px;
					height: 70px;
					margin-top: 30px;
				}
				&>p{
					display: inline-block;
					width: 151px;
					height: 36px;
					margin-top: 23px;
					color: #222222;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 700;
					line-height: 18px;
					text-align: center;
				}
			}
			div:hover{
				cursor: pointer;
			}
		}
	}
	.aboutCompany{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 49+161px;
		background-color: #6a462b;
		h1{
			display: inline-block;
			width: 447px;
			height: 38px;
			margin: 55px auto 53px auto;
			color: #ffd21f;
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 38px;
		}
		&>div{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;
			width: 1166px;
			height: 380px;
			margin: 0 auto;
			.aboutCompany-numbers{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: space-between;
				position: relative;
				width: 270*2+30px;
				height: 100%;
				&>div{
					display: flex;
					flex-direction: column;
					align-items: center;
					position: relative;
					width: 260px;
					height: 165px;
					top: 5px;
					left: 5px;
					border-radius: 5px;
					span{
						display: inline-block;
						width: auto;
						height: 64px;
						margin-top: 38px;
						color: #fff;
						font-family: 'Roboto', sans-serif;
						font-size: 60px;
						font-weight: 700;
						line-height: 64px;
						text-align: center;
					}
					p{
						display: inline-block;
						width: 220px;
						height: 36px;
						margin-top: 13px;
						color: #fff;
						font-family: 'Roboto', sans-serif;
						font-size: 16px;
						font-weight: 400;
						line-height: 18px;
						text-align: center;
					}
					.opacity{
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						top: -5px;
						border-radius: 5px;
						border: 5px solid #fff;
						opacity: 0.3;
					}
				}
				&>div:nth-child(2),
				&>div:last-child{
					left: -5px;
				}
				&>div:nth-child(3),
				&>div:last-child{
					top: 20px;
				}
				&>div:after{
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border: 25px solid transparent;
					border-top: 25px solid #ffd21f;
				}
			}
			.aboutCompany-description{
				display: flex;
				flex-direction: column;
				position: relative;
				width: 566px;
				height: 100%;
				p{
					display: inline-block;
					width: 100%;
					height: auto;
					margin: 0;
					color: #fff;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 21px;
				}
				button{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 500px;
					height: 60px;
					margin: 0 auto;
					margin-top: 53px;
					border: none;
					border-radius: 5px;
					box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
					background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
					color: #fefefe;
					font-family: 'Roboto', sans-serif;
					font-size: 18px;
					font-weight: 700;
					line-height: 20px;
				}
				button:hover{
					cursor: pointer;
				}
			}
		}
		&>p{
			display: inline-flex;
			position: relative;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 170px;
			margin-top: 51px;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-size: 30px;
			font-weight: 700;
			line-height: 40px;
			background-color: #ffd21f;
			text-align: center;
		}
	}
	.aboutCompany:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 162px;
		top: -161px;
		background: url('../img/footer_decor_2.png') no-repeat;
	}
}