*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.modal,
.modalImg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1050;
	opacity: 0;
	pointer-events: none;
	&>.content{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		background: #fff;
		&>img{
			display: block;
			position: absolute;
			top: 10px;
			right: 20px;
		}
		#closeBtn:hover{
			cursor: pointer;
		}
		&>form{
			display: flex;
			height: 250px;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			background: #fff;
			bottom: 10px;
			legend{
				display: inline-block;
				margin: 0 auto;
				color: #222222;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				text-align: center;
			}
			label{
				display: block;
				position: relative;
				margin: 0 auto;
				input{
					display: block;
					position: relative;
					height: 100%;
					background: #f7f7f7;
					color: #999999;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					border: 1px solid #d1d1d1;
				}
			}
			label:nth-child(2):after{
				content:'';
				display: block;
				position: absolute;
				background: url('../img/user.svg') no-repeat;
			}
			label:nth-child(3):after{
				content:'';
				display: block;
				position: absolute;
				background: url('../img/phone.svg') no-repeat;
			}
			button{
				display: block;
				position: relative;
				margin: 0 auto;
				border: none;
				background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
				color: #fefefe;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				outline: none;
			}
			button:hover{
				cursor: pointer;
			}
		}
	}
}
.modalImg{
	&>.content{
		display: block;
		border-radius: 10px;
		&>img:first-child{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: inherit;
		}
		&>img:last-child{
			display: block;
			position: absolute;
		}
		#closeImgPlane:hover{
			cursor: pointer;
		}
	}
}
.active{
	opacity: 1;
	pointer-events: auto;
	overflow: none;
}
header{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	img{
		display: block;
		position: absolute;
		z-index: -100;
		width: 100%;
		height: 100%;
	}
	&>div:nth-child(2){
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		position: relative;
		width: 100%;
		img{
			display: block;
			position: relative;
			padding: 0;
		}
		span{
			display: inline-block;
			color: #fefefe;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			text-align: center;
		}
		button{
			display: block;
			position: relative;
			padding: 0;
			border: none;
			background: linear-gradient(to bottom, #ffd21f 0%, #e4751c 100%);
			color: #fefefe;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			outline: none;
		}
		button:hover{
			cursor: pointer;
		}
	}
	&>div:nth-child(3){
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
		span:first-child{
			display: inline-block;
			width: 100%;
			color: #ffd21f;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			text-align: center;
		}
		span:nth-child(2){
			display: inline-block;
			position: absolute;
			background: #ffd21f;
		}
		span:last-child{
			display: inline-block;
			width: 100%;
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			text-align: center;
			&>b:last-child{
				text-decoration: underline;
			}
		}
	}
	&>div:last-child{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
		.advantage{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					position: relative;
					&>div{
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						position: relative;
						width: inherit;
						background: #ffd21f;
						.number{
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							position: relative;
							border-radius: 50%;
							z-index: 1;
							background: #fff;
							&>span{
								display: inline-block;
								position: relative;
								margin: 0 auto;
								color: #ffd21f;
								font-family: 'Roboto', sans-serif;
								font-weight: 700;
							}
						}
						.number:first-child{
							align-self: flex-start;
						}
						&>span{
							display: inline-block;
							position: relative;
							color: #222222;
							font-family: 'Roboto', sans-serif;
							font-weight: 400;
							background: #ffd21f;
							vertical-align: center;
						}
					}
		}
		form{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			position: relative;
			height: 100%;
			background: #fff;
			legend{
				display: inline-block;
				margin: 0 auto;
				color: #222222;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
			}
			label{
				display: block;
				position: relative;
				margin: 0 auto;
				input{
					display: block;
					position: relative;
					height: 100%;
					background: #f7f7f7;
					color: #999999;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					border: 1px solid #d1d1d1;
				}
			}
			label:nth-child(2):after{
				content:'';
				display: block;
				position: absolute;
				background: url('../img/user.svg') no-repeat;
			}
			label:nth-child(3):after{
				content:'';
				display: block;
				position: absolute;
				background: url('../img/phone.svg') no-repeat;
			}
			button{
				display: block;
				position: relative;
				margin: 0 auto;
				border: none;
				background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
				color: #fefefe;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				outline: none;
			}
			button:hover{
				cursor: pointer;
			}
		}				
	}
}
header:before{
	content:'';
	display: block;
	position: absolute;
	background: url('../img/header-after-img.png') no-repeat;
}
main{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	.infrastructure{
		display: flex;
		flex-direction: column;
		position: relative;
		width: inherit;
		height: inherit;
		h1{
			display: inline-block;
			margin: 0 auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		.infrastructure-images{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			margin: 0 auto;
			&>div{
				display: flex;
				flex-direction: column;
				position: relative;
				height: inherit;
				&>div{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;
					margin: 0 auto;
					background: #ffd21f;
					&>img{
						display: block;
						position: relative;
						background: #ffd21f;
					}
				}
				&>span{
					display: inline-block;
					color: #444444;
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					text-align: center;
				}
			}
		}
		.infrastructure-description{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			margin: 0 auto;
			section{
				display: flex;
				flex-direction: column;
				position: relative;
				h2{
					display: inline-block;
					color: #ffd21f;
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
				}
				p{
					display: inline-block;
					width: 100%;
					color: #444;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
				}
			}
			button{
				display: none;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				border: none;
				background: linear-gradient(to bottom, #ffd21f 0%, #e4751c 100%);
				color: #fefefe;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				outline: none;
			}
			button:hover{
				cursor: pointer;
			}
		}
	}
	.review{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: auto;
		background: #faeed2;
		h1{
			display: inline-block;
			margin: 0 auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			br{
				display: none;
			}
		}
		.review-description{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			margin: 0 auto;
			div{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				position: relative;
				height: inherit;
				img{
					display: block;
					position: relative;
				}
				p{
					display: inline-block;
					color: #444444;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
				}
			}
		}
		.review-specific{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			div{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				height: 100%;
				background: url('../img/plan-img.jpg') no-repeat;
				button{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;
					border: none;
					background: linear-gradient(to bottom, #ffd21f 0%, #e4751c 100%);
					color: #fefefe;
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					outline: none;
					br{
						display: none;
					}
				}
				button:hover{
					cursor: pointer;
				}
			}
			div:last-child{
				background: url('../img/price-img.jpg') no-repeat;
				button{
					display: block;
					justify-content: unset;
					align-items: unset;
					a{
						display: inline-flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 100%;
						color: #fefefe;
						font-family: 'Roboto', sans-serif;
						font-weight: 700;
						border-radius: 5px;
					}
				}
			}
		}
		span{
			display: inline-block;
			margin: 0 auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			text-align: center;
		}
		button{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			border: none;
			background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
			color: #fefefe;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			outline: none;
		}
		button:hover{
			cursor: pointer;
		}
	}
	.photoGallery{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: auto;
		&>h1{
			display: inline-block;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		.photoGallery-photos{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			position: relative;
			margin: 0 auto;
			button{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				border: none;
				border-radius: 50%;
				background: #ffd21f;
				z-index: 100;
				outline: none;
				&>img{
					display: block;
					position: relative;
				}
			}
			button:hover{
				cursor: pointer;
			}
			&>img{
				display: block;
				position: absolute;
				height: 100%;
				z-index: 1;
				/* transition: all ease 1s; */
			}
			&>img:nth-child(2){
				z-index: 0;
			}
			&>img:nth-child(4){
				z-index: 0;
			}
		}
		.photoGallery-package{
			display: flex;
			flex-direction: column;
			position: relative;
			h1{
				display: inline-block;
				margin: 0 auto;
				color: #6a462b;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
			}
			&>div{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				position: relative;
				width: 100%;
				&>div{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					position: relative;
					&>div{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						position: relative;
						background: #d7e9ff;
						img{
							display: block;
							position: relative;
						}
					}
					table{
						display: block;
						position: relative;
						height: 100%;
						border-collapse: collapse;
						tr{
							th{
								text-align: left;
								color: #116fff;
								font-family: 'Roboto', sans-serif;
								font-weight: 700;
							}
							td{
								color: #444444;
								font-family: 'Roboto', sans-serif;
								font-weight: 400;
							}
						}
					}
				}
			}
			button{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				border: none;
				background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
				color: #fefefe;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				outline: none;
			}
			button:hover{
				cursor: pointer;
			}
		}
	}
	.documnets{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		h1{
			display: inline-block;
			margin: 0 auto;
			color: #6a462b;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		.documnets-download{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			margin: 0 auto;
			div{
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				&>img{
					display: block;
					position: relative;
				}
				&>a{
					display: inline-block;
					position: absolute;
					color: #222222;
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					text-align: center;
				}
			}
			div:hover{
				cursor: pointer;
			}
		}
	}
	.aboutCompany{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: auto;
		background-color: #6a462b;
		h1{
			display: inline-block;
			color: #ffd21f;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		&>div:nth-child(2){
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			position: relative;
			margin: 0 auto;
			.aboutCompany-numbers{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: space-between;
				position: relative;
				height: 100%;
				&>div{
					display: flex;
					flex-direction: column;
					align-items: center;
					position: relative;
					span{
						display: inline-block;
						width: auto;
						color: #fff;
						font-family: 'Roboto', sans-serif;
						font-weight: 700;
						text-align: center;
					}
					p{
						display: inline-block;
						color: #fff;
						font-family: 'Roboto', sans-serif;
						font-weight: 400;
						text-align: center;
					}
					.opacity{
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						opacity: 0.3;
					}
				}
				&>div:after{
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
				}
			}
			.aboutCompany-description{
				display: flex;
				flex-direction: column;
				position: relative;
				height: 100%;
				p{
					display: inline-block;
					width: 100%;
					height: auto;
					margin: 0;
					color: #fff;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
				}
				&>button{
					display: block;
					position: relative;
					margin: 0 auto;
					border: none;
					background: linear-gradient(to bottom, #a2d417 0%, #4c9918 100%);
					outline: none;
					a{
						display: inline-flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 100%;
						color: #fefefe;
						font-family: 'Roboto', sans-serif;
						font-weight: 700;
						br{
							display: none;
						}
					}
				}
				button:hover{
					cursor: pointer;
				}
			}
		}
		&>div:last-child{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 170px;
			background-color: #ffd21f;
			&>p{
				display: inline-flex;
				position: relative;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: #6a462b;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				text-align: center;
				br:first-child{
					display: none;
				}
			}	
		}
		
	}
	.aboutCompany:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		background: url('../img/footer_decor_2.png') no-repeat;
	}
}
footer{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	h1{
		display: inline-block;
		color: #ffd21f;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		text-align: center;
	}
	address{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
		.publicTransport{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			h2{
				display: inline-block;
				position: relative;
				color: #6a462b;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-style: normal;
			}
			&>div{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				position: relative;
				width: 100%;
				&>div{
					display: block;
					position: relative;
					border-radius: 50%;
					background: #fff;
				}
				&>div:after{
					content: '';
					display: block;
					position: absolute;
					border-radius: 50%;
					background: #ffd21f;
				}
				p{
					display: inline-block;
					height: 100%;
					color: #444444;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					font-style: normal;
				}
			}
			&>div:nth-child(2),
			&>div:nth-child(3){
				&>div:before{
					content: '';
					display: block;
					position: absolute;
					background: #ffd21f;
					z-index: -10;
				}
			}
		}
		.autoMap{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			h2{
				display: inline-block;
				margin: 0 auto;
				color: #6a462b;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-style: normal;
			}
			div{
				display: block;
				position: relative;
				width: 100%;
				background: pink;
			}
		}
	}
	.details{
		display: block;
		position: relative;
		margin: 0 auto;
		border-collapse: collapse;
		text-align: center;
		color: #999999;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
	}
}